<script>
	jQuery(function() {
			setTimeout(function(){
					jQuery('#audio2_html5_black').audio2_html5({
						skin: 'blackControllers',
						autoPlay:false,
						initialVolume:0.5,
						showRewindBut:true,
						showShuffleBut:true,
						showDownloadBut:true,
						showFacebookBut:true,
						showTwitterBut:true,
						responsive:true,
						shuffle:false,
						playerBg: '#FFFFFF',
						bufferEmptyColor: '#737373',
						bufferFullColor: '#bababa',
						seekbarColor: '#000000',
						volumeOffColor: '#bababa',
						volumeOnColor: '#000000',
						timerColor: '#000000',
						songTitleColor: '#000000',
						songAuthorColor: '#888888',
						bordersDivColor: '#cccccc',
						playlistTopPos:0,
						playlistBgColor:'#FFFFFF',
						playlistRecordBgOffColor:'#FFFFFF',
						playlistRecordBgOnColor:'#FFFFFF',
						playlistRecordBottomBorderOffColor:'#cccccc',
						playlistRecordBottomBorderOnColor:'#8d8d8d',
						playlistRecordTextOffColor:'#777777',
						playlistRecordTextOnColor:'#000000',
						categoryRecordBgOffColor:'#111111',
						categoryRecordBgOnColor:'111111',
						categoryRecordBottomBorderOffColor:'#2f2f2f',
						categoryRecordBottomBorderOnColor:'#2f2f2f',
						categoryRecordTextOffColor:'#4c4c4c',
						categoryRecordTextOnColor:'#f90000',
						selectedCategBg: '#c7c7c7',
						selectedCategOffColor: '#333333',
						selectedCategOnColor: '#f90000',
						selectedCategMarginBottom:12,
						searchAreaBg: '#c7c7c7',
						searchInputBg:'#FFFFFF',
						searchInputBorderColor:'#c7c7c7',
						searchInputTextColor:'#333333'
					});
			}, 500);
	});
</script>
<div class="audio2_html5">
        <audio id="audio2_html5_{{.Get "id" }}" preload="metadata">
        <div class="xaudioplaylist">
             {{.Inner}}
			  </div>
        No HTML5 audio playback capabilities for this browser. Use <a href="https://www.google.com/intl/en/chrome/browser/">Chrome Browser!</a>
        </audio>
</div>
       		<!--<br style="clear:both;">-->
